
.home_container {

    position: relative;
    height: 100vh;

}

.home_container::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(assets/netflix-img/big.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;

}

.home_container::after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.6);

}

.display_container {

    padding: 20px 0px 0px 95px;

}

.logo {

    display: flex;

}

.logo img {

    padding-right: 30px;
    font-size: 16px;
    padding-top: 0;
    width: 100px;
    font-family: 'Roboto';
    cursor: pointer;

}

.logo a {

    padding-top: 0;
    padding: 40px;
    padding-right: 30px;
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto';
    text-decoration: none;

}

.about_movie_container {

    margin-top: 100px;
    width: 600px;
    height: 310px;

}

.ab_titel_movie {

    font-family: 'Roboto Serif';
    font-size: 16px;
    display: flex;
    color: #fff;

}

.ab_titel_movie p {

    padding-left: 10px;

}

.ab_titel_movie img {

    width: 39px;
    padding: 5px;
    height: 39px;

}

.movie_about {

    padding-top: 20px;
    padding-left: 10px;
    color: #fff;

}

.movie_about h1 {

    font-size: 40px;
    font-family: 'Roboto Serif';

}

.movie_paragraph p {

    font-family: 'Roboto Serif';

}

.movie_btn {

    position: relative;

}

.movie_btn img {

    width: 30px;
    height: 30px;
    padding-right: 35px;

}

.movie_btn button {

    position: absolute;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.movie_btn label {

    position: absolute;
    padding-top: 7px;
    right: 7px;
    padding-right: 25px;
    font-size: 16px;
    font-family: 'Roboto Serif';
    

}